apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
spec:
  replicas: 2

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1

  selector:
    matchLabels:
      app: inventory

  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
        - name: inventory
          image: loja-veloz/inventory:1.0.0
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: inventory-config
            - secretRef:
                name: inventory-secret

          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
