apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
spec:
  replicas: 2
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
        - name: orders
          image: loja-veloz/orders:1.0.0
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: orders-config
            - secretRef:
                name: orders-secret
          readinessProbe:
            httpGet:
              path: /orders
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /orders
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
